body {
    background: #F7F7F7;
    color: #454545;
    padding: 10px;
    font-family: courier, serif;
    font-size: 15px;    
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Main container area beneath menu */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #E8E8E8;
    border-radius:15px;
}
.container p {
    font-family: 'Raleway', serif;
}
/* Content area within conatiner */
.content {
    padding: 15px;
    /*margin-left: 225px;*/
}
.content li {
    margin-left: -20px;
    font-family: "Raleway", serif;
}
/* Left aligned sidebar */
.sidebar {
    width: 225px;
    float: left;
    padding: 10px;
}
.sidebar img {
    width: 200px;
    margin-right: 40px;
    float: left;
}
/* Main menu */
nav {
    background: #2286CD;
    height: 50px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius:15px;
}
nav ul {
    list-style-image: none;
    float: right;
}
nav ul li {
    display: inline;
    padding-right: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    color:#ccc;
}
/* Site Title */
nav h1 {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 21px;
    color: #ffffff;
}
/* Portfolio page */
ul.portfolio {
    list-style-type: none;
    padding-left: 0;
}
ul.portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
ul.portfolio li:hover {
    background: #eee;
}
.portfolio a {
    text-decoration: none;
    color: #454545;
}
